<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
        <div id="posts-list">

	{{if ne .URL  "/cognitive_bias/"}}
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
          <section>
            <h1 class="site-date-catalog" style="text-transform: uppercase; font-size:25px"> {{ replaceRE "(-)" " " $key}}</h1>

                  {{ range $value.Pages }}

            <div class="row posts-line">
              <div class="posts-date col-xs-3">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div>
              <div class="posts-title col-xs-9">
                <div class="row">
                  <div class="col-xs-12">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
      {{ end }}
    {{ end }}
  {{ end }}

 {{else }}
 <div class="row ">

  {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
            {{ range .Pages }}
	<section class="col-md-6 " style="margin-top:10px" >
		<div class="card">
			<a href="{{.RelPermalink}}">
				<h3>{{ .Title }} </h3>
      <img{{ with .Params.featured_image }} src="{{ . }}"{{ end }} alt="{{ .Title }}" style="width: 100%">
  </a>
      <!-- <div class="card-date">{{ .Date.Format "January 2006" }}</div> -->

      <div>{{.Summary}}</div>
     
		</div>
  </section>
  {{ end }}
  {{end}}
 </div>

  {{end}}

        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>
