/* global */

body {
  font-family: "Bree Serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 20px;
}

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 100%;
    border: solid 2px;
    padding: 20px 30px 20px 30px;
    box-shadow: 13px 13px 0 0 white,
    15px 15px 0 0 black,
    15px 11px 0 0 black,
    11px 15px 0 0 black;
}


blockquote:before {
  content: "Quotes";
}




.markdown-body  h1 {
  font-size: 200%;
   margin-bottom: 0px;
   margin-top: 3%
}

.markdown-body  h2 {
 margin-bottom: 0px;
 margin-top:7%;
 margin-botton:0px;
  font-size: 150%;
}

*,
*::before,
*::afeter {
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 4px;
  box-shadow: 4px 8px 16px 0 #00000010;
  overflow: hidden;
  background: #2d3d50;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.candle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candle-flame {
  width: 15px;
  height: 30px;
  background: #ffad00;
  border-radius: 8px 8px 8px 8px/20px 20px 8px 8px;
  box-shadow: 0px 0px 20px 0px #ffad00;
  animation: flame-twirl 15s ease infinite, glow 2s ease infinite;
}
.candle-wick {
  height: 10px;
  width: 3px;
  background: #ad87a9;
}
.candle-wax {
  width: 40px;
  height: 110px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: inset -15px 0px 0px -10px #d8deed;
}
.candle-stand {
  width: 100px;
  height: 8px;
  background: #1c233e;
  border-radius: 3px;
}

@keyframes flame-twirl {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px/20px 20px 8px 8px;
  }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px/20px 20px 8px 8px;
  }
}
@keyframes glow {
  0%, 30%, 60%, 80%, 100% {
    box-shadow: 0 0 20px 0 #ffad00;
  }
  20%, 50%, 70% {
    box-shadow: 0 0 22px 0 #ffad00;
  }
}



/* h3 {

  font-size: 150%;
}

h4 {

  font-size: 125%;
}

h5 {

  font-size: 120%;
}

h6 {

  font-size: 100%;
}
 */
:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}



.multi-button {
  display: flex;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:7px;
  width:100%;
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.4rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}



.multi-button button:active {
  transform: translateY(var(--border-size));
}

hr {
  margin-top:30px;
}


a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

.markdown-body {
  font-size: 18px;
  max-width: 100%;
}

.markdown-body a {
  text-decoration: underline;
  text-decoration-color: #000;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  border-radius: 10px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 6px;
}

/* reset code */

.markdown-body pre > code {
  padding: 0;
  font-size: 100%;
  background-color: inherit;
  border: 0;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */

.site-date-catalog {
  font-size: 2rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  font-family: "Bungee Shade", sans-serif;
}
.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #666;
}

.header-items {
  margin: 10px 0;
}

.header-item {
  margin: 0 5px;
}

.header-line {
  width: 100%;
  border-width: 2px;
  border-color: #482936;
  border-style: solid none none none;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  min-height: 600px;
}

.posts-line {
  font-size: 1.2rem;
  margin: 12px 0;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px;
  /* margin-bottom: 3px; */
}

.site-footer {
  margin-top: 50px;
  /* margin-bottom: 80px; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  /* padding: 12px 0; */
  /* border-width: 3px; */
  /* border-style: solid none; */
  /* border-color: #000; */
}

.site-footer-item {
  margin-right: 12px;
}

/* post */

.post-content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 50px;
}

.post-title {
  font-size: 2rem;
  font-weight: 600;
}

.post-category {
  display: inline;
  font-weight: 600;
  padding: 2px 5px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-date {
  font-weight: 800;
  font-style: italic;
}

.post-author {
  float: right;
  font-weight: 600;
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.8;
  /* text-align: justify; */
  text-justify: ideographic;
  margin-bottom: 1em;
}

.related-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.related-content li {
  margin: 5px 0;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}


.card {
  border: 1px solid black;
  padding: 10px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.card h3,
.card p {
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.card-box {
  width: 100%;
}

.card-date {
  text-align: right;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-r-5px {
  padding-right: 5px;
}


/* toc */

.toc-box {
  border: 1px solid black;
  padding: 5px;
}

toc {
  display: none;
}

toc li {
  list-style-type: none;
}

toc ul {
  margin-left: 0px;
  padding-left: 0;
}

toc ul ul {
  margin-left: 0px;
  padding-left: 15px;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}

@media screen and (max-width: 600px) {
  .header-title,
  .header-subtitle,
  .header-items {
    text-align: center;
  }

  .posts-line {
    font-size: 16px;
  }

  .markdown-body {
    font-size: 16px;
  }
  .post-title {
    font-size: 2rem;
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 48em) {
.markdown-body  h2 {
  margin-bottom: 0px;
  margin-top: 15%;
  margin-botton: 0px;
  font-size: 150%;
}
  .posts-category {
    display: none;
  }
  .card {
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .site-date-catalog {
    font-size: 18px;
  }
  .header-line{
    padding-top:5px;
    text-align: center;
  }

}
