{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="header-title">
    <a href="{{ .Site.LanguagePrefix }}/"
      >{{ or .Site.Params.headTitle .Site.Author.name }}</a
    >
  </div>
  <div class="header-subtitle" style="color:black"> Sebuah pemikiran yang mungkin lebih baik </div> 
</header>
<div class="row end-md center-xs header-items">
  <div class="header-item">
    <a href="/" >Filsafat</a>
  </div>
  |
    <div class="header-item">
    <a href="/cognitive_bias/" >Cognitive Bias</a>
  </div>
</div>

<div class="header-line"></div>
