<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="post {{ .Site.Language.LanguageName }}" id="article">
    <div class="row">
      <div class="col-xs-12">
        <div class="site-header">
          {{ partial "header.html" . }}
        </div>
         <header class="post-header">
        </header>
       {{ range .Params.categories }}
              <a href="{{ site.LanguagePrefix }}/categories/{{ lower . }}/" >
                {{ . }}
              </a>
            {{ end }}
        <h1 style="margin-bottom: 0px; margin-top:0px ">{{ .Title }}</h1>
         
        <span></span>
        <div class="post-content markdown-body">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </div>

        <div class=" middle-xs">

          <h3>Source</h3>
          <ul>
            {{ range .Params.source }}
                      <li><a href=" {{ . }}" target="_blank"> {{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ if in .Site.Params.mainSections .Type }}
          <div class="row">
            <div class="col-xs-12">
              {{ .Site.Params.postFooterContent | safeHTML }}
            </div>
          </div>

          {{ partial "related.html" . }}

          {{ if .Site.Params.postAds }}
          <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
          {{ end }}
          <!-- split -->
          <div style="height: 50px;"></div>
          {{ if .Site.Params.disqus }}
          <div class="post-comments">
          </div>
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}

</body>

</html>